### Engineering Date Column

## Engineering Dates

Date variables are special type of categorical variable. By their own nature, date variables will contain a multitude of different labels, each one corresponding to a specific date and sometimes time. Date variables, when preprocessed properly can highly enrich a dataset. For example, from a date variable we can extract:

- Month
- Quarter
- Semester
- Day (number)
- Day of the week
- Is Weekend?
- Hr
- Time differences in years, months, days, hrs, etc.

It is important to understand that date variables should not be used as the categorical variables we have been working so far when building a machine learning model. Not only because they have a multitude of categories, but also because when we actually use the model to score a new observation, this observation will most likely be in the future, an therefore its date label, will be different than the ones contained in the training set and therefore the ones used to train the machine learning algorithm.

One of the key attributes in invoice data are dates — invoice date, payment due date and payment date. ML algorithm expects number as training feature, it can’t operate with literals or dates. This is when data transformation comes in — out of original data we need to prepare data which can be understood by ML.

<b>How we can transform dates into numbers? </b><br>
One of the ways is to split date value into multiple columns with numbers describing the original date (year, quarter, month, week, day of year, day of month, day of week).

<b> Another approach </b><br>
Date feature transformation into a difference between dates
Instead of splitting date into multiple attributes, we should reduce the number of attributes to two. We can use date difference as such:
— Day difference between Payment Due Date and Invoice Date
— Day difference between Payment Date and Invoice Date

In [4]:
import numpy as np
import pandas as pd

In [15]:
df = pd.DataFrame({'CustID': np.arange(1,6),
                   
                 'Due_Date': ['02-Aug-2019', '30-Sep-2019', '25-Jul-2019', '01-Apr-2019', '10-Oct-2019'],
                  'Payment_Date': ['12-Aug-2019', '10-Sep-2019', '25-Jul-2019', '05-Apr-2019', '08-Oct-2019']}
                 )

In [16]:
df

   CustID     Due_Date Payment_Date
0       1  02-Aug-2019  12-Aug-2019
1       2  30-Sep-2019  10-Sep-2019
2       3  25-Jul-2019  25-Jul-2019
3       4  01-Apr-2019  05-Apr-2019
4       5  10-Oct-2019  08-Oct-2019

In [17]:
df.dtypes

CustID           int32
Due_Date        object
Payment_Date    object
dtype: object

In [19]:
df['Due_Date'] = pd.to_datetime(df.Due_Date)
df['Payment_Date'] = pd.to_datetime(df.Payment_Date)

df.dtypes

CustID                   int32
Due_Date        datetime64[ns]
Payment_Date    datetime64[ns]
dtype: object

In [20]:
df

   CustID   Due_Date Payment_Date
0       1 2019-08-02   2019-08-12
1       2 2019-09-30   2019-09-10
2       3 2019-07-25   2019-07-25
3       4 2019-04-01   2019-04-05
4       5 2019-10-10   2019-10-08

In [23]:
df['Due_Month'] = df.Due_Date.dt.month
df['Due_Day'] = df.Due_Date.dt.day
df['Payment_Month'] = df.Payment_Date.dt.month
df['Payment_Day'] = df.Payment_Date.dt.day
df

,CustID,Due_Date,Payment_Date,Due_Month,Due_Day,Payment_Month,Payment_Day
0,1,2019-08-02,2019-08-12,8,2,8,12
1,2,2019-09-30,2019-09-10,9,30,9,10
2,3,2019-07-25,2019-07-25,7,25,7,25
3,4,2019-04-01,2019-04-05,4,1,4,5
4,5,2019-10-10,2019-10-08,10,10,10,8

In [32]:
df['Overdue_days'] = (df.Due_Date - df.Payment_Date)/np.timedelta64(1, 'D')
df

,CustID,Due_Date,Payment_Date,Due_Month,Due_Day,Payment_Month,Payment_Day,Overdue_days
0,1,2019-08-02,2019-08-12,8,2,8,12,-10.0
1,2,2019-09-30,2019-09-10,9,30,9,10,20.0
2,3,2019-07-25,2019-07-25,7,25,7,25,0.0
3,4,2019-04-01,2019-04-05,4,1,4,5,-4.0
4,5,2019-10-10,2019-10-08,10,10,10,8,2.0

In [34]:
df['Fine_charges'] = df['Overdue_days'].apply(lambda x : 1 if x < 0 else 0)
df

,CustID,Due_Date,Payment_Date,Due_Month,Due_Day,Payment_Month,Payment_Day,Overdue_days,Fine_charges
0,1,2019-08-02,2019-08-12,8,2,8,12,-10.0,1
1,2,2019-09-30,2019-09-10,9,30,9,10,20.0,0
2,3,2019-07-25,2019-07-25,7,25,7,25,0.0,0
3,4,2019-04-01,2019-04-05,4,1,4,5,-4.0,1
4,5,2019-10-10,2019-10-08,10,10,10,8,2.0,0